
/*This is a comment in CSS*/

body{
    font-family: Verdana, sans-serif;
    margin: 0;
}

h1{
    font-size: 30px;
}

p{
    font-size: 16px;
}

.centered-wrapper{
    width:1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

main{
    width:100%;
    max-width:1400px; /* means it won't be larger than 1200px on larger screens */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 3%;

}

#json{
    color:darkseagreen;
}
